/* ===================================
   My Music Player
   Version 0.2.0
   Author: Ashutosh Shelar
=================================== */

/* Reset */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Root Variables */

:root{

    --bg-color:#121212;

    --card-color:#1e1e1e;

    --primary:#FF5722;

    --text:#ffffff;

    --subtext:#b3b3b3;

    --shadow:0 10px 25px rgba(0,0,0,.35);

    --radius:20px;

}

/* Body */

body{

    background:var(--bg-color);

    color:var(--text);

    font-family:Arial, Helvetica, sans-serif;

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:20px;

}
/* ===========================
   Player Container
=========================== */

.player{

    width:100%;

    max-width:380px;

    background:var(--card-color:#ff2595;);

    border-radius:var(--radius);

    padding:25px;

    box-shadow:var(--shadow);

    display:flex;

    flex-direction:column;

    align-items:center;

    gap:20px;

}
/* ===========================
   Album Cover
=========================== */

.cover{

    width:220px;

    height:220px;

    object-fit:cover;

    border-radius:18px;

    box-shadow:0 8px 20px rgba(0,0,0,.4);

}
/* ===========================
   Song Information
=========================== */

.song-info{

    text-align:center;

}

.song-info h2{

    font-size:24px;

    margin-bottom:8px;

}

.song-info p{

    color:var(--subtext);

    font-size:15px;

}